<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ychong.service.mapper.FileMapper">
    <resultMap id="BaseResultMap" type="com.ychong.dao.FileDto">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="local_path" property="localPath"/>
        <result column="remote_path" property="remotePath"/>
        <result column="file_type" property="fileType"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from fs_file
    </select>
</mapper>